// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

.input
  display: flex
  .label
    padding-left: 20px
    text-align: left
    font-size: 2em
    line-height: 2.5em
      
  .input-area
    padding-right: 20px
    text-align: right
    flex: 2

  .key-input
    position: relative
    display: inline-block
    padding: 0.25em 0.5em
    margin: 0.5em auto
    position: relative
    font-size: 2em
    border: 1px solid $primaryColor
    background-color: #000000
    user-select: none
    cursor: pointer
    
    .icon-warning
      position: absolute
      left: -1.8em
      opacity: 0
    
    .icon-tri-left,
    .icon-tri-right,
    .icon-tri-up,
    .icon-tri-down
      position: absolute
      opacity: 0
      
    .icon-tri-up,
    .icon-tri-down
      font-size: 0.75em
    
    .icon-tri-right
      left: -0.25em
    .icon-tri-left
      right: -0.25em
    .icon-tri-up
      bottom: -0.65em
    .icon-tri-down
      top: -0.65em

    .chara
      padding: 0.25em
      
  &.active .key-input
    cursor: default
    
    .icon-tri-left,
    .icon-tri-right,
    .icon-tri-up,
    .icon-tri-down
      opacity: 1
      
    .icon-tri-up,
    .icon-tri-down
      animation: blink 1500ms steps(1) infinite
      
&.invalid .key-input
  .icon-warning
    opacity: 1